<%= form_with(model: member_transaction) do |form| %>
  <% if member_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_transaction.errors.count, "error") %> prohibited this member_transaction from being saved:</h2>

      <ul>
        <% member_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
