<div id="<%= dom_id transaction %>">
  <p>
    <strong>Type:</strong>
    <%= transaction.type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Transaction date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p>
    <strong>Is deleted:</strong>
    <%= transaction.is_deleted %>
  </p>

</div>
